@charset "UTF-8";

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

.box1 {
  padding-top: 8px;
  padding-bottom: 8px;
  .site {
    h1 {
      margin: 0;
      font-size: 30px;
      a {
        color: #000000;
        text-decoration: none
      }
    }
  }
}

.box2 {
  background-color: #7cbac1;
  nav.menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    li {
      float: left;
      width: auto;
      a {
        display: block;
        padding: 15px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #75dbe7;
        }
      }
    }

  }
}


//@media (min-width: 768px) {

.boxA {
//  &:after {
//    content: "";
//    display: block;
//    clear: both
//  }
  .box3 {
    padding-top: 40px;
    padding-bottom: 30px;
//    float: left;
//    width: 70%;
    article.kiji {
      h1 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 36px;
      }
      p {
        margin-top: 0;
        margin-bottom: 20px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .box4 {
    padding-top: 40px;
    padding-bottom: 30px;
//   float: left;
//    width: 30%;
    .sidemenu {
      margin-bottom: 30px;

      h1 {
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: dotted 2px #dddddd;
        color: #666666;
        font-size: 18px;
      }
      ul {
      margin: 0;
      padding: 0;
      list-style: none;
      }
      li a {
        display: block;
        padding: 5px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #eeeeee
        }
      }
    }
    .osusume {
      margin-bottom: 30px;
      h1 {
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: dotted 2px #dddddd;
        color: #666666;
        font-size: 18px;
      }
      ul {
      margin: 0;
      padding: 0;
      list-style: none;
      }
      li a {
        display: block;
        padding: 5px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #eeeeee
        }
      }
    }
    .ninki {
      h1 {
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: dotted 2px #dddddd;
        color: #666666;
        font-size: 18px;
      }
      ul {
      margin: 0;
      padding: 0;
      list-style: none;
      }
      li a {
        display: block;
        padding: 5px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #eeeeee
        }
      }
    }
  }
}

//}

.box5 {
  border-top: solid 1px #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
  .copyright p {
    margin: 0;
    color: #666666;
    font-size: 14px;
  }
}


@media (max-width: 599px) {
  .box1 {
    padding-top: 4px;
    padding-bottom: 4px;
    .site {
      h1 {
        font-size: 26px;
      }
    }
  }
  .box2 {
    nav.menu {
      li a {
        padding:  10px 3px;
        font-size: 11px;
      }
    }
  }
  .boxA {
    .box3 {
      padding-top: 25px;
      article.kiji {
        h1 {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width:767px){

}

@media (min-width: 768px) {
  .boxA {
    &:after {
      content: "";
      display: block;
      clear: both
    }
    .box3 {
      float: left;
      width: 70%;
      padding-right: 50px;
      .moz-box-sizing: border-box;
      .webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .box4 {
      float: left;
      width: 30%;
    }
  }
}

@media (min-width: 1040px){

}
